@import 'src/global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 75%;
  height: 100vh;
  padding-top: 50px;
  margin: 0 auto;
}

.barChart {
  box-sizing: border-box;
  height: 60%;
  padding: 15px 50px;
  border: 1px black solid;
  border-radius: 15px;
}

.filters {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  padding: 15px;
  border: 1px black solid;
  border-radius: 15px;
}

.legendWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.legend {
  @include alternating_colors(red, blue);
}
